---
layout: page
image: /assets/images/site/tim-zweden.jpg
languages:
 - en
 - nl
---

<div data-lang="nl">

  <p>Welkom op timfranssen.nl!</p>

  {% include category.html title="Zorg & ICT" posts=site.categories.zorg-en-ict %}

  <p class="right"><a href="{{ 'archive' | relative_url }}">Alle artikelen &rarr;</a></p>

</div>

<div data-lang="en">

  <p>Welcome to timfranssen.nl!</p>

  {% include category.html title="Zorg & ICT" posts=site.categories.zorg-en-ict %}

  <p class="right"><a href="{{ 'archive' | relative_url }}">All articles &rarr;</a></p>

</div>
