<a href="{{ post.url }}">
  <article>

    <figure>
      <img src="{{ post.image }}"/>
    </figure>

    {% if post.title and post.titel %}
      <h1 data-lang="en">{{ post.title }}</h1>
      <h1 data-lang="nl">{{ post.titel }}</h1>
    {% else %}
      <h1>{{ post.title }}</h1>
    {% endif %}

    {% if post.excerpt_en and post.excerpt_nl %}
      <p data-lang="en">{{ post.excerpt_en | strip_html }}</p>
      <p data-lang="nl">{{ post.excerpt_nl | strip_html }}</p>
    {% else %}
      <p>{{ post.excerpt | strip_html }}</p>
    {% endif %}

  </article>
</a>
