<a href="{{ post.url }}">
  <article>

    <figure>
      <img src="{{ post.image }}"/>
    </figure>

    {% if post.title and post.titel %}
      <h1 data-lang="en">{{ post.title }}</h1>
      <h1 data-lang="nl">{{ post.titel }}</h1>
    {% else %}
      <h1>{{ post.title }}{{ post.titel }}</h1>
    {% endif %}

    {% if post.excerpt and post.samenvatting %}
      <p data-lang="en">{{ post.excerpt | strip_html }}</p>
      <p data-lang="nl">{{ post.samenvatting | strip_html }}</p>
    {% else %}
      <p>
        {{ post.excerpt | strip_html }}
        {{ post.samenvatting | strip_html }}
      </p>
    {% endif %}

  </article>
</a>
