<footer class="content" data-lang="en">
  <p>
    The contents of this website are protected under copyright law and may not be reproduced, unless explicitly stated otherwise.
  </p>
  <p>
    <a href="{{ '/' | relative_url }}">Home</a> ·
    <a href="{{ '/about' | relative_url }}">About this website</a> ·
    <a href="{{ '/privacy-statement' | relative_url }}">Privacy statement</a>
  </p>
</footer>

<footer class="content" data-lang="nl">
  <p>
    De inhoud van deze website is auteursrechtelijk beschermd en mag niet zonder toestemming worden geherpubliceerd, tenzij expliciet anders vermeld.
  </p>
  <p>
    <a href="{{ '/' | relative_url }}">Home</a> ·
    <a href="{{ '/about' | relative_url }}">Over deze website</a> ·
    <a href="{{ '/privacy-statement' | relative_url }}">Privacy statement</a>
  </p>
</footer>
