html, body {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
}

/* Hide all dual-language texts until the language plugin has made the selection */
body.multilanguage {
  [data-lang] {
    display: none;
  }
}

/* This is the thing we're actually scrolling in,
   so we can do magical parallax stuff */
main.wrapper {
  --header-image-height: 50%;
  height: 100vh;
  perspective: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* This is the parallax-scrolling header image */
section.header-image {
  position: relative;
  z-index: 0;
  width: 100%;
  height: var(--header-image-height);
  margin-bottom: -12em;  /* This pulls the content below over the image */
  transform-style: preserve-3d;

  /* Position child elements over each other */
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & img {
    z-index: 0;
    object-fit: cover;
    transform: translateZ(-10px) scale(2);
    transform-origin: center bottom;
  }

  /* This is the gray background that slides over the header image */
  & .scrolling-background {
    top: 100%;
    z-index: 1;
    transform: translateZ(-3px) scale(1.3);
    transform-origin: center top;
    background-color: var(--background-color);
  }

  /* This is the section that shows the site title */
  & .scrolling-foreground {
    /* display: flex; */
    z-index: 3;
    /* align-items: center; */

    transform: translateZ(1px) scale(0.9);
    transform-origin: center bottom;

    & h1 {
      margin: 2em;

      & a {
        padding: 0.5em 1em;
        color: var(--font-color-light);
        border: 0;
        background-color: var(--brand);
        border: 1px solid white;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 5px 5px 0px var(--brand);
      }

      @media screen and (max-width: 768px) {
        margin: 25vh 0 0 0;
        text-align: center;
      }
    }

    /* This is the little info string at the top right */
    & .info {
      display: none;

      &.active {
        display: block;
      }

      & p {
        position: absolute;
        top: 0;
        right: 0;
        display: inline;
        margin: 0 2em 0 2em;
        padding: 0.4em 1.2em 0.4em 1.2em;
        float: right;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-weight: 300;
        color: var(--font-color-light);
        background-color: rgba(0, 0, 0, 0.4);
        
        & a {
          color: var(--font-color-light);
          border-bottom: 1px solid var(--font-color-light);
        }
      }
    }
  }

  /* Changes for the mobile version */
  @media screen and (max-width: 920px) {
      margin-bottom: -4em;
  }
}

/* This is the actual page content */
section.page {
  position: relative;
  z-index: 2;
}

section.footer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-image-height);
  margin-top: 6em;

  & img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(0.2) opacity(0.6);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: linear-gradient(
      to bottom,
      var(--background-color) 0%,
      transparent 30%,
      transparent 100%
    );
    background: linear-gradient(
      to bottom in hsl,
      var(--background-color) 0%,
      transparent 30%,
      transparent 100%
    );
  }

  & footer {
    z-index: 3;
  }
}
