<!DOCTYPE html>
<html lang="{% if page.language %}{{ page.language }}{% else %}nl{% endif %}">
  <head>
    {% include head.html %}
  </head>
  <body class="multilanguage">
    <main class="wrapper">

      {% if page.image %}
        <section class="header-image">
          <div class="scrolling-foreground">
            {% include header.html %}
          </div>
          <img src="{{ page.image }}" loading="lazy" alt="Header image"/>
          <div class="scrolling-background"></div>
        </section>
      {% endif %}

      {{ content }}

      {% if page.image %}
        <section class="footer">
          <img src="{{ page.image }}" loading="lazy" alt="Footer image"/>
          {% include footer.html %}
        </section>
      {% endif %}

    </main>
  </body>
</html>
