---
layout: default
---

<section class="page">
  <div class="content">
    {% if page.layout == "post" %}
      <div class="author">
        {% if page.author %}
          <img src="/assets/images/authors/{{ page.author }}.png"/>
          <span class="name">{{ page.author }}</span>
          <span class="description" data-lang="en">Guest author</span>
          <span class="description" data-lang="nl">Gastauteur</span>
        {% else %}
          <img src="/assets/images/authors/{{ site.author }}.png"/>
          <span class="name">{{ site.author }}</span>
          <span class="description">{{ site.bio }}</span>
        {% endif %}
        {% if page.date %}
          <span class="date">{{ page.date | date: "%-d-%-m-%Y" }}</span>
        {% endif %}
      </div>
    {% endif %}

    {% if page.title and page.titel %}
      <h1 data-lang="en">{{ page.title }}</h1>
      <h1 data-lang="nl">{{ page.titel }}</h1>
    {% else %}
      <h1>{{ page.title }}{{ page.titel }}</h1>
    {% endif %}

    {% unless page.languages %}
      {% if page.language != "en" %}
        <p data-lang="en"><i>This article is written in Dutch. Sorry for that.</i></p>
      {% endif %}
      {% if page.language != "nl" %}
        <p data-lang="nl"><i>Dit artikel is alleen beschikbaar in het Engels. Sorry daarvoor.</i></p>
      {% endif %}
    {% endunless %}

    {{ content }}
  </div>

  {% if page.layout == "post" %}
    {% assign cat = page.categories[0] %}
    {% assign cat_list = site.categories[cat] %}
    {% for post in cat_list %}
      {% if post.url == page.url %}
        {% assign pOffset = forloop.index0 | minus: 1 %}
        {% assign nOffset = pOffset | plus: 2 %}
        {% if forloop.first == false %}
          {% assign next_post = cat_list[pOffset] %}
        {% endif %}
        {% if forloop.last == false %}
          {% assign previous_post = cat_list[nOffset] %}
        {% endif %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if previous_post or next_post %}
      <div class="content">
        <h1 data-lang="en">This may also interest you</h1>
        <h1 data-lang="nl">Misschien vind je dit ook interessant</h1>

        <div class="articles">
          {% if previous_post %}
            {% assign post = previous_post %}
            {% include article.html %}
          {% endif %}

          {% if next_post %}
            {% assign post = next_post %}
            {% include article.html %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
</section>
